

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@669&display=swap');

:root{
    --primary-text-color: black;
    --dark-bg-text-color: white;
    --primary-bg-color: gray;
    --header-bg-color: black;
    --footer-bg-color: black;
    
    --answer-right: green;
    --answer-wrong: red;
    --answer-wrong-position: orange;
}

.left {
    margin: 2rem;
}



body {
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.header_footer--template {
    background: var(--header-bg-color);
    color: var(--dark-bg-text-color);
    display: flex;
    align-items: center;
    
}


.header {
    width: 100%;
    height: 5%;
}

.footer {
    width: 100%;
    height: 5%;
}



.main-Body{
    width:100%;
    height: 90%;
}

.mainBody-Render {
    width: 100%;
    height: 100%;
}



.index {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.field {
    display: flex;
    flex-wrap: wrap;
}

.field__input {
    font-size: 3rem;
    width: 1em;
    text-align: center;
    text-transform: uppercase;
}

.answers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0.5em;
}

.answers__Letter {
    font-size: 3rem;
    width: 1em;
    height: 1em;
    text-align: center;
    text-transform: uppercase;
}


.answers__Letter--Right{
    background-color: var(--answer-right);
}
.answers__Letter--Wrong {
    background-color: var(--answer-wrong);
}
.answers__Letter--WrongPosition {
    background-color: var(--answer-wrong-position);
}


.notification_Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.notification_Text__Reset_Button{
    height: 3em;
    background-color: transparent;
    border: 3px solid black;
    transition: 0.1s;
}

.notification_Text__Reset_Button:hover{
    border-radius: 5px;
    background-color:var(--answer-right);
}